.nutbig-hiteggs {
    // height: 357px;
    width: 100%;
    flex-shrink: 0;
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;

    .nut-eggs-item {
        margin-bottom: 20px;
        position: relative;
        width: 80px;
        height: 80px;
        transition: all 0.3s ease;
        .intactImg{
            position: absolute;
            bottom: 0;
            left: 0;
            animation:move 2s 0s infinite;
            &.hide{
                opacity: 0;
            }
        }
        .splitImg{
            position: absolute;
            left: 0;
            bottom: 0;
          
        }
        >img {
            width: 100%;
            
        }
        .hammer{
            width: 50px;
            position: absolute;
            top: -15px;
            right: -18px;
            transform: rotate(10deg);
        }
    }
}
@keyframes move
{
	0%, 65%{
	  -webkit-transform:rotate(0deg);
	  transform:rotate(0deg);
	}
	70% {  
	  -webkit-transform:rotate(6deg);
	  transform:rotate(6deg);
	}
	75% {  
	  -webkit-transform:rotate(-6deg);
	  transform:rotate(-6deg);
	}
	80% {  
	  -webkit-transform:rotate(6deg);
	  transform:rotate(6deg);
	}
	85% {  
	  -webkit-transform:rotate(-6deg);
	  transform:rotate(-6deg);
	}
	90% {  
	  -webkit-transform:rotate(6deg);
	  transform:rotate(6deg);
	}
	95% {  
	  -webkit-transform:rotate(-6deg);
	  transform:rotate(-6deg);
	}
	100% {  
	  -webkit-transform:rotate(0deg);
	  transform:rotate(0deg);
	}
}
@keyframes shake-rotate {
    0% {
     -webkit-transform:rotate(10deg);
	  transform:rotate(10deg);
    }

    20% {
     -webkit-transform:rotate(30deg);
	  transform:rotate(30deg);
    }

    40% {
        -webkit-transform:rotate(50deg);
        transform:rotate(50deg);
    }

    60% {
        -webkit-transform:rotate(50deg);
        transform:rotate(50deg);
    }
    80% {
        -webkit-transform:rotate(30deg);
        transform:rotate(30deg);
    }
    100% {
        -webkit-transform:rotate(10deg);
        transform:rotate(10deg);
    }
  }