.nutbig-shakedice {
    position: relative;
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    // transform: rotateX(40deg) rotateY(-30deg);
    transition: all 1s;

    .page {
        width: 100px;
        height: 100px;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #000;
        background: rgb(253, 250, 250);
        border-radius: 20px;
        font-size: 100px;
        color: #fff;
        text-align: center;
        box-sizing: border-box;

        >span {
            display: block;
            width: 25px;
            height: 25px;
            background: black;
            border-radius: 50%;
        }
    }

    .page1 {
        justify-content: center;
        align-items: center;
        transform: translateZ(50px);
    }

    .page2 {
        justify-content: space-around;
        align-items: center;
        transform: rotateX(-90deg) translateZ(50px);
    }

    .page3 {
        position: relative;
        >span{
            position: absolute;
            &:first-child{
                right: 10px;
                top: 10px;
            }
            &:nth-child(2){
                top: 37%;
                left: 37%;
            }
            &:nth-child(3){
                bottom: 10px;
                left: 10px;
            }
        }
        transform: rotateY(90deg) translateZ(50px);
    }

    .page4 {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        transform: rotateY(-90deg) translateZ(50px);
    }

    .page5 {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transform: rotateX(90deg) translateZ(50px);
        >span{
            margin: 0 10px;
            &:nth-child(3){
                margin: 0;
                position: absolute;
                top: 37%;
                left: 37%;
            }
        }
    }

    .page6 {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transform: translateZ(-50px);
    }
}

@keyframes rotate {
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}