.nutbig-giftrain{
    // width: 100%;
    // height: 100%;
    margin-top: 30px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    .nutbig-giftrain-content-rainimg{
        position: absolute;
    }
}
