.giftbox-wraper {
  display: block;
  padding: 5px;
  background: url("https://img10.360buyimg.com/imagetools/jfs/t1/80308/16/17542/310729/613b20a9Ef0a4b640/85977b5e747213ca.png") no-repeat;
  background-size: 100% 100%;
}
.gift-box {
  position: relative;
  display: block;
  width: 300px;
  height: 200px;
  margin: 110px auto 0;
  .gBox {
      position: absolute;
  }
  .gift-box-1 {
    top: 20%;
    left: 50%;
    z-index: 120;
    margin: -11% 0 0 -32%;
    width: 63%;
    height: 35%;
    background: url('https://img11.360buyimg.com/imagetools/jfs/t1/79939/3/16076/28752/613b1610Edbfa9502/16bdec9244e231b0.png') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    transition:all linear 0.6s;
  }
  .gift-box-1-open {
    margin: -26% 0 0 -27%;
    transform: rotateZ(22deg);
  }
  .gift-box-2 {
    top: 55%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background: url('https://img14.360buyimg.com/imagetools/jfs/t1/67459/8/17031/35435/613b1611E14f88d6d/276574386be58ddd.png') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
  .gift-box-3 {
    top: 0;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url('https://img12.360buyimg.com/imagetools/jfs/t1/206640/13/170/107814/613b1611E104d998f/0f570d559327b701.png') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    opacity: 0;
    transition: all .3s linear 0.4s;
  }
  .gift-box-3-open {
    opacity: 1;
  }
}
