.nutbig-lotto-roll {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .lotto-roll-wrap {
    float: left;
    // width: 30%;
    width: 100px;
    height: 100px;
  }
  .lotto-roll-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .lotto-wrap,
    .lotto-item,
    .lotto-item-image,
    .lotto-item-img {
      width: 100%;
      height: 100%;
    }
    .lotto-item-content {
      margin: auto;
      width: 100%;
      height: 100%;
      text-align: center;
      color: white;
    }
  }
  // .lotto-roll-content {
  //   position: relative;
  //   display: block;
  //   width: 100px;
  //   height: 100px;
  //   overflow: hidden;
  //   .lotto-list {
  //     position: absolute;
  //     float: left;
  //     display: block;
  //     // will-change: top;
  //     // transition: all linear 2s;
  //     // transform: translateY(0);
  //     // width: 100%;
  //     // animation-name: example;
  //     // animation-duration: 2s;
  //     // animation-iteration-count: 2;
  //     // animation-timing-function: linear;
  //     // animation-fill-mode: forwards;
  //   }
  // }
  // .lotto-item {
  //   display: block;
  //   width: 100px;
  //   height: 100px;
  //   // -webkit-backface-visibility: hidden;
  //   // backface-visibility: hidden;
  //   .lotto-item-img {
  //     display: block;
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
}
